# Python bytecode
__pycache__/
*.pyc
*.pyo

# Virtual environment
venv/
.env/

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# IDE or Editor Files
.vscode/
.idea/

# Dependencies
/node_modules/
